Django
python-decouple
requests
twilio
pandas
openpyxl
gunicorn
psycopg2-binary
whitenoise
dj-database-url
googletrans
django-model-utils
djangorestframework
django-cors-headers
psycopg2-binary
dj-database-url
